.signout-button{
    margin-top: auto !important;
}

/* .logo{
    background-color: grey;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
} */

.profile-container{
    margin-bottom: 50%;
}